


#titulo {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#tituloClasificacion {
    padding-left: 1%;
    background-color: #1A408D;
    color: white;
    width: 55%;
    font-size: 3em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#noticiasTitulo h2 {
    font-size: 3em;
    color: white;
    margin: 0;
    padding-right: 1%;
}
.content {
    width: 100%;
    display: flex;
}

#clasificacion {
    width: 100%;
}

.tituloTabla {
    font-size: 1.5em;
}

table tr td {

    font-family: "Quicksand";
    font-weight: 400;
    font-style: normal;
    font-size: larger;

}

/* Estilo general de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 1em;
    text-align: center;
    border: 3px solid #3C6AA3;
    border-top-right-radius: 15px;
    margin-bottom: 1em;
}

/* Encabezado */
th {
    background-color: #1A408D;
    color: white;
    padding: 0.3em;
    font-size: 1.2em;
}

/* Filas */
tr {
    background-color: #1A408D;
    color: white;
    font-size: 1em;

}



tr:hover {
    background-color: #163C79;
}

/* Celdas */
td {
    padding: 0.8em;
    border: 3px solid #3C6AA3;
}

/* Logo */
#clasificacion tr td img {
    width: auto;
    height: 3em;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #fff;
    padding: 0.1em;
}
.logoContainer {
    width: 2em;
    height: 1em;
}


/* Noticias individuales */
.noticia,
.imagenNoticia,
#noticiasTitulo,
#noticias {
    display: none;
}





@media (min-width: 992px) {

    #tituloNoticias{
        width: 30%;
    }
    #tituloClasificacion{
        width: 55%;
    }
    #clasificacion{
        width: 55%;
        padding: 0 2em;
    }

    /* Estilo general de la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
        text-align: center;
        border: 3px solid var(--highlight);
        border-top-right-radius: 15px;
    }

    /* Encabezado */
    th {
        background-color: var(--bgcolor1);
        color: var(--txtColor1);
        padding: 0.3em;
        font-size: 1.2em;
    }

    /* Filas */
    tr {
        background-color: var(--bgColor1);
        color: var(--txtColor1);
        font-size: 1em;

    }



    tr:hover {
        background-color: var(--bgColor2);
    }

    /* Celdas */
    td {
        padding: 0.8em;
        border: 3px solid var(--highlight);
        color: var(--txtColor2);
    }

    /* Logo */



    /* Contenedor principal del título */
    #titulo {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    /* Contenedor de noticias */
    #noticias {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
        margin-left: 10em;
        width: auto;

    }


    /* Noticias individuales */
    .noticia {
        display: flex;
        width: 100%;
    }

    .imagenNoticia {
        display: block;
        height: 18em;
        width: auto;
        border: 3px solid #3C6AA3;
        border-radius: 10px;
    }

    .content {
        width: 100%;
        display: flex;
    }
}