#tituloContacto{
    margin: 0.5em 0;
}

.contactoPrincipal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; /* Vertically center the contents */
    margin: 1em 10%;

}
h2 {
    margin: 1em;
    font-weight: bold;
}
.contactoCorreos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em 10%;
}
.contactoPrincipal img {
    width: 8em;
    float: right;
    margin-right: 1em;
}
@media (max-width: 992px) {
    .contactoPrincipal {
        font-size: 0.8em;
    
    }
    .contactoPrincipal img {
        width: 4em;
    }
    .contactoCorreos {
        font-size: 0.8em;

    }
}