#content{
    display: grid;
    grid-template-rows: auto auto; /* Two rows */
    grid-template-columns: 1fr 1fr; /* Two equal columns for bottom */
    padding: 1em 0;
}
#temporadas{
    grid-column: span 2; 
}
#temporadas div{
    font-size: 1.2em;
    margin: 1em;
}
#temporadas button{
        background-color: var(--bgColor1);   
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 15px;
        font-size: 1em;
        transition: 0.5s;

        a{
            color:var(--txtColor);
        }
}

#temporadas button:hover{
    background-color:var(--highlight);
    
}
#tituloTemporadas{
    width: 90%;
} 

#tituloEquipos{
    width: 80%;
}
#tituloJugadores{
    width: 80%;
    float: right;
}
.equipoImg {
    padding: 0.5em;
    width: 3em;
}
 
.equipo{
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
    flex-direction: column;
    width: fit-content;
    transition: ease-in-out 0.5s;     
    border: 4px solid var(--bgColor3);  
    cursor: pointer;
}
.equipo:hover{
    border: 4px solid var(--highlight);  
    border-radius: 1em;  
}
.equipo div{
    padding-right:0.5em ;
    display: flex;
    font-size: 2em;
    align-items: center; 
}
.equipo ul{
    list-style: none;
}