
.container-inicio{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 0em;
  grid-template-areas: 
      "banner"
      "noticias-calendario"
      "patrocinadores"
  ;
}
.imagenFondo {
  width: 100%;

}
.contenedor-noti-cale{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "noticias"
  "calendario"
  ;
  gap: 1em;
  padding: 0em;
}

.seccion-noticias{
  display: grid;
  grid-area: noticias;
  padding: 0em;
  gap: 1em;
}

.noticia-list {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr; /* 1 columna */ 
  gap: 1.5em;
  max-width: 30em;
  margin: 0 0 0 1em;
}
.noticia {
  position: relative;
  height: 20em; /* Alto fijo */
  width: 30em;
  background-image: url('../imagenes/noticias/noti5.jpg'); /* Imagen */
  background-size: cover; /* La imagen cubre el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  overflow: hidden;
}
  .noticia-info {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
    color: white;
    padding: 10px;
    height: 6em;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .subtitle {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  .date {
    font-size: 12px;
    margin: 5px 0 0;
    color: #ccc;
  }
  

  .seccion-calendario {
    grid-area: calendario;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #calendario {
    display: flex;
    justify-content: center;
    padding-right: 0em;
  }


  
@media (min-width: 992px) {
  .contenedor-noti-cale{
    display: grid;
    grid-area: noticias-calendario;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "noticias calendario"
    ;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Responsivo: mínimo 300px por columna */
  
  }

  


  #calendario {
    justify-content: end;
    padding-right: 2em;
  }
  .noticia-list {
    max-width: 45em;
  }
    .noticia {
      height: 22em;
      width: 40em;
    }
}